:root {
  --ash-gray: #a7b8b5;
  --medium-aquamarine: #6fedb7;
  --steel-blue: #5681a3;
  --snow: #eefcf6;
  --rest-background: #427d83;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
}
main {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--medium-aquamarine);
}
.rest {
  background-color: var(--rest-background);
}
.pomodoro-clock {
  text-align: center;
  font-size: 4.5rem;
  padding: 7rem 4.469rem;
  border: 2px solid var(--snow);
  border-radius: 50%;
  color: var(--snow);
}
.buttons-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.buttons {
  padding: 0.5rem 1rem;
  margin: 0.5rem;
}
svg {
  height: 2.5rem;
  width: 2.5rem;
  fill: var(--snow);
}
.hidden {
  visibility: hidden;
  display: none;
}
